/** {*/
    /*outline: 1px solid grey;*/
/*}*/
@import url('https://fonts.googleapis.com/css?family=Cuprum|Roboto');
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
        padding-left: 0;
        padding-right: 0;
        display: flex;
     }
    .container-fluid {
        max-width: 1170px;
        padding: 0;
    }
    .row {
        margin: 0;
        display: block;
    }
}

body {
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
}

.header-box {
    height: 87px;
    margin: 0;
}

.header-box h2 {
    font-family: Roboto;
    color:  #4f555a;
    font-size: 26px;
    font-weight: 900;
    text-align: left;
}

header nav {
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    height: 48px;
    background-color: #43aa26;
}
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;

}
.main-menu a {
    text-align: center;
    height: 48px;
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #ffffff;
    border-left: 1px solid lightgrey;
}
.main-menu>li:last-child>a{
    border-right: 1px solid lightgrey;
    font-size: 22px;
}

.main-menu a:hover {
    background: white;
    color: #43aa26;
}

.main-menu > li {
    position: relative;
}
nav ul li {
    float: left;
}
.sub-menu li {
    width: 150px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: lightgrey;
}
.main-menu .sub-menu {
    position: absolute;
    top: 48px;
    left: 0px;
    z-index: 10;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #43aa26;
}

.main-menu > li:hover .sub-menu {
    display: block;
    color: #43aa26;
    background-color: #43aa26;
}


header .row-fluid .col-md-6:first-child {
    background: #219fff;
    height: 52px;
    margin-top: 16px;
}

.carousel-indicators {
    margin: 0;
    padding: 0;
    width: 80px;
}

.carousel-caption {
    text-shadow: none;
}

.carousel-indicators li {
    background-color:  #43aa26;
    border: 1.5px solid #43aa26;
}

main .slider-wrapper {
    position: absolute;
    overflow: auto;
    height: 490px;
    left:0;
    width: 100%;
}
 main .main-slider {
    padding-left: 0;
    padding-right: 0;
}

main .row {

    width: 100%;
    margin-left: 0;
    margin-right: 0px;

}

main .carousel-container {
    margin-top: 120px;
    border-top: 7px solid #43aa26;
    /*position: absolute;*/
    padding: 30px;
    top: 26%;
    /*left: 60%;*/
    background-color: #ffffff;
    box-shadow: -4px 7px 18px 0 rgba(0, 0, 0, 0.2);
    /*width: 451px;*/
    height: 164px;
    z-index: 1;
    text-align: left;
}
.carousel-container h2 {
    font-family: Cuprum;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
.carousel-container p {
    font-size: 14px;
    font-family: Roboto;

}


main .carousel {
    background-color: gray;
}
.carousel-inner {
    margin-top: -284px;
}

main .carousel-inner>.item>img.carousel_image {
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    height: 490px;
    /*z-index: -1;*/
    object-fit: cover;
    background-color: rgba(17, 30, 51, 0.82);
}

.item {
    background: #333;
    text-align: center;
    height: auto;

}

.carousel {
    margin-top: 0;
}
.carousel-control {
    font-size: 24px;
    top: 40%;
    width: 0;
}
a.carousel-control {

}
a.carousel-control span{
    color: black;
    background-image: none;
    background-color: #43aa26;
    height: auto;
}

.order-container {

    padding: 0;
    margin-top: 489px;
    background-color: white;
    float: left;
}
.angle {
    position: absolute;
    width: 68px;
    height: 68px;
    background-color: transparent;
    border: solid #43aa26;
    border-width: 6px 0 0 6px;
    margin: -3px 0 0 -3px;
}
.order-img {
    padding: 0;
    margin-top: -90px;
}
.order-txt>h2{
    text-align: center;
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 36px;
    font-weight: 700;
}

.order-steps-item {
    text-align: center;
    height: 208px;
    background-color: white;
    margin: 0 15px 0 15px;

}
.order-item-icon {
    height: 100px;
    margin: 20% 0 10% 0;
}
.order-item-text {
    height: 50px;
    font-family: Roboto;
    color:  #2f3031;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.order-steps-buttons{
    font-size: 24px;
    height: 0;
    margin-top: 5px;
    margin-left: -225px;
}
.order-steps-buttons a{
    color: lightgray;
}
.order-steps-buttons, .active a{
    color: #43aa26;
}

.video-container h2{
    margin-top: 30px;
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}
.video-gallery-wraper {
    padding: 0;
    overflow-x: scroll;
}
.video-gallery{
    text-align: left;
    width: 1610px;
}
.video-gallery-wraper::-webkit-scrollbar {
    width: 3px;
}
.video-gallery-wraper::-webkit-scrollbar-track {
    background-color: #2e6da4;
    height: 5px;
    border-radius: 1px;
}
.video-gallery-wraper::-webkit-scrollbar-thumb {
    background: #43aa26;
    border-radius: 1px;
}
.video-gallery-wraper::-webkit-scrollbar-thumb:hover {
    background: #43aa26;
}
.video-gallery-item{
    float: left;
    height: 100%;
    width: 372px;
    margin: 0 15px 0 15px;
}


.video-gallery-item-preview {
}
.video-gallery-item-button{
    margin-left: -65px;
    text-align: center;
    top: 56%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #43aa26;
}
.video-gallery-item-button a{
    top: 50%;
    font-weight: bold;
    color: white;
    font-size: 30px;
}
.video-gallery-item-button a span{
    top: 16%;
}
.video-gallery-item-description{
    text-align: left;
    margin-left: 65px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}
.video-gallery-item-description p{
    padding-top: 10px;
    font-family: Roboto;
    color:  #2f3031;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.stock-container{
    background-color: #43aa26;
    height: 330px;
    background-image: url("/image/sell.png");
    margin-top: 60px;
    text-align: left;
}
.stock-container-description{
    padding: 0;
}
.stock-container-description h2{
    font-family: Cuprum;
    color:  #ffffff;
    font-size: 36px;
    font-weight: 700;
}
.stock-container-description>p{
    font-family: Roboto;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
}
.stock-container-description p a{
    text-decoration: underline;
    font-family: Roboto;
    color:  #fff600;
    font-size: 16px;
    font-weight: 700;
}
.countdown-item{
    width: 85px;
    height: 100px;
    float: left;
    margin-right: 20px;
    text-align: center;
    font-family: Roboto;
    color:  #2f3031;
    font-size: 14px;
    font-weight: 400;
    background-color:  #ffffff;
    box-shadow: -3px 5px 16px 0px rgba(0, 0, 0, 0.09);
}
.countdown-numbers{
    font-family: Cuprum;
    color:  #43aa26;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.stock-container-image{
    top: 20px;
    left: 55px;
}
.catalog-container-caption{
    text-align: center;
}
.catalog-container-caption h2{
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 36px;
    font-weight: 700;
}
.tabs{
    display:inline-block;
    text-align: center;
}
.tabs > div{
    padding-top: 10px;
}
.tabs ul{
    margin-left: 19%;
}
.tabs ul:after{
    content:"";
    display:block;
    clear:both;
    background:#43aa26;
}
.tabs ul li{
    font-family: Roboto;
    color:  #2f3031;
    font-size: 16px;
    font-weight: 700;
    margin:1px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 25px;
    background: white;
}
.tabs ul li.active, .tabs ul li.active:hover{
    background:white;
    color: #43aa26;
    outline: 2px solid #43aa26;
}
.tabs ul li:hover{
    background:#d6d6d7;
}