.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 1200px){
    .container {
         width: 940px;
        padding-left: 0;
        padding-right: 0;
     }
}


header .row-fluid {
    position: relative;
    height: 68px;
    background-color: #ff003c;
    z-index: 2;
}
header nav {
    height: 48px;
    background-color: #43aa26;
}
header .row-fluid .col-md-6:first-child {
    background: #219fff;
    height: 52px;
    margin-top: 16px;
}

header .i {
    display: inline;
}

header .i > img {
    margin-top: 15px;
    margin-left: -57px;
    position: relative;
    text-align: center;
}

.carousel-caption {
    text-shadow: none;
}

.carousel-indicators li {
    background-color: black;
}

header .city {
    width: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    height: 34px;
}

header .city select {
    font-family: Calibri;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    float: left;
    border: none;
    appearance: none;
    padding-left: 50px;
    background: transparent url("../image/icons/select_arrow.png") no-repeat left center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

header .city select option {
    color: black;
}

header .reg {
    width: 100px;
    margin: auto;
    position: absolute;
    float: left;
    top: 0;
    bottom: 0;
    right: -200px;
    height: 18px;
    font-family: Calibri;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
}

header .enter {
    width: 30px;
    float: left;
}

header .cabinet {
    width: 55px;
    float: right;
}

main .slider-wrapper {
    position: absolute;
    overflow: auto;
    height: 490px;
    left:0;
    width: 100%;
}
 main .main-slider {
    padding-left: 0;
    padding-right: 0;
}

main .book_shadow {
    position: absolute;
    left: 50%;
}




main .row {
    position: absolute;
    margin-top: 150px;
    width: 100%;
    margin-left: 0;
    margin-right: 0px;
    z-index: 1;
}

main .main_menu {
    position: absolute;
    top: 26%;
    left: 16%;
    font-family: Calibri;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #ffffff;

}

main .next_seans {
    position: absolute;
    font-family: Calibri;
    color: #ffffff;
    font-size: 10px;
    text-align: right;
    text-shadow: 1px 2px 1.98px #000000;
    left: 650px;
    top: -162px;
    height: 40px;
    width: 101px;
}

main a:link {
    font-size: 16px;
    color: #ffffff;
}

main a:visited {
    font-size: 16px;
    color: #ffffff;
}

main a:hover {
    font-size: 16px;
    color: #ffffff;
}

main .next_seans > p {
    margin-bottom: 0;
}

main .carousel {
    background-color: gray;
}

main .carousel-inner>.item>img.carousel_image{

    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    height: 490px;
    /*z-index: -1;*/
    object-fit: cover;
    background-color: rgba(17, 30, 51, 0.82);
}


h2 {
    margin: 0;
    color: #ffffff;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

.item {
    background: #333;
    text-align: center;
    height: auto;

}

.carousel {
    margin-top: 0px;
}

a.carousel-control.right {
    background-image: none;
}

a.carousel-control.left {
    background-image: none;
}

/** CALENDAR **/
main .calendar-wrapper{
    background-color: #575757;
}
main .calendar_header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 83px;
    top: 475px;
}

.calendar {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #575757;
    margin-top: 490px;
}

.calendar-content {
    margin-top: -56px;
    font-family: Calibri;
    color: #97c9ff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.table {
    margin-bottom: 0px;
}

main table.table > tbody > tr > th,
main table.table > tbody > tr > td {
    border-top: none;
}

main table.table > tbody > tr:not(:nth-child(1)):not(:nth-child(2)) {
    border-top: 1px solid grey;
}

main table.table > tbody > tr > td:not(:nth-child(1)) {
    border-left: 1px solid grey;
}

main .week_days > th {
    font-size: 14px;
    text-align: center;
}



.tab-content ul.tab_gallery {
    width: 100%;
    text-align: center;
    /*	margin: 0 auto;
        list-style-type: none;
        -webkit-padding-start: 0px;*/
    padding: 0;
    margin-bottom: 0px;
}

.tab-content ul.tab_gallery > li {
    width: 180px;
    height: 260px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 2px;
}

.tab-content ul.tab_gallery > li > .img-wrapper {
    /*width: 180px;
    height: 260px;
    display: inline-block;
    overflow: hidden;*/
}

.tab-content ul.tab_gallery > li > .img-wrapper img {
    /*vertical-align: top;*/
    /*text-align: center;*/

    width: 180px;
    height: 260px;
    /*overflow: hidden;*/
}

.red-block {
    background-color: #ff003c;
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 32%);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 32%);
    width: 180px;
    height: 100px;
    margin-top: -100px;
    display: table;
}

.red-block p {
    font-family: Calibri;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
    padding: 15px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
    color: black;
    font-family: Calibri;
    font-size: 18px;
    font-weight: 700;
    text-align: right;

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    font-family: Calibri;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    color: #2bb0ff;
    border: none;
}

.tab_galery > th {
    text-align: center;
}

.tab-content .tab_gallery .red-block .stars-block {
    position: absolute;
    display: block;
    width: 100%;
    margin-left: -100%;
    text-align: right;
    padding-right: 25px;
    padding-top: 10px;
}
.tab-content .tab_gallery .red-block .stars-block .star {
    font-size: 12px;
    color: #691930;
}
.tab-content .tab_gallery .red-block .stars-block .star.active  {
    color: #ffde00;
}
.tab-content .tab_gallery .red-block .stars-block .star{
    font-size: 12px;
}
@media screen and (max-width: 1920px) {
    .tab-content .tab_gallery >li:not(:nth-child(-n+5)){
       display: none;
    }
}