/** {*/
    /*outline: 1px solid grey;*/
/*}*/
@import url('https://fonts.googleapis.com/css?family=Cuprum|Roboto');
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
        padding-left: 0;
        padding-right: 0;
        display: flex;
     }
    .container-fluid {
        max-width: 1170px;
        padding: 0;
    }
    .row {
        margin: 0;
        display: block;
    }
}
body {
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
}

.header-container{
    height: 90px;
}
.header-logo-box{
    display: block;
    padding: 20px 0;
}
.header-logo-box img{
    float: left;
}
.header-logo-box h2{
    margin: 0;
    float: left;
    font-family: Roboto;
    color:  #4f555a;
    font-size: 26px;
    font-weight: 900;
    text-align: left;
    padding: 5% 5px;
}
.header-slogan-box{
    margin-left: 90px;
    padding: 20px 0;
}
.header-slogan-box p{
    padding: 5% 5px;
}
.header-phone-box{
    margin-left: 60px;
    padding: 20px 0;
}
.header-phone-box p{
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 26px;
    font-weight: 400;
    text-align: left;
}
.header-callback{
    margin-left: 60px;
    padding: 20px 0;
}
.header-callback-button{
    padding: 0 5px;
    border: none;
    background-color: #4cae4c;
}
.header-callback-button>p{
    display: inline-block;
    font-family: Cuprum;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
}
.header-callback-button>span{
    display: inline-block;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 3px 5px;
}
header nav {
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    height: 48px;
    background-color: #43aa26;
}
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu a {
    text-align: center;
    height: 48px;
    display: block;
    padding: 14px 25px;
    text-decoration: none;
    color: #ffffff;
    border-left: 1px solid lightgrey;
}
.main-menu>li:last-child>a{
    border-right: 1px solid lightgrey;
    font-size: 22px;
}
.main-menu a:hover {
    background: white;
    color: #43aa26;
}
.main-menu > li {
    position: relative;
}
nav ul li {
    float: left;
}
.sub-menu li {
    width: 150px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: lightgrey;
}
.main-menu .sub-menu {
    position: absolute;
    top: 48px;
    left: 0px;
    z-index: 10;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #43aa26;
}
.main-menu > li:hover .sub-menu {
    display: block;
    color: #43aa26;
    background-color: #43aa26;
}
header .row-fluid .col-md-6:first-child {
    background: #219fff;
    height: 52px;
    margin-top: 16px;
}
#mycarousel .carousel-indicators {
    margin: 0;
    padding: 0;
    width: 80px;
    left: 42%;
}
#mycarousel .carousel-caption {
    text-shadow: none;
}
#mycarousel .carousel-indicators li {
    background-color:  #43aa26;
    border: 1.5px solid #43aa26;
}
#mycarousel .carousel-indicators .active{
    background-color:  white;
    border: 1.5px solid #43aa26;
}
main .slider-wrapper {
    position: absolute;
    overflow: auto;
    height: 490px;
    left:0;
    width: 100%;
}
 main .main-slider {
    padding-left: 0;
    padding-right: 0;
}
main .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0px;
}
main #mycarousel .carousel-container {
    margin-top: 120px;
    border-top: 7px solid #43aa26;
    /*position: absolute;*/
    padding: 30px;
    top: 26%;
    /*left: 60%;*/
    background-color: #ffffff;
    box-shadow: -4px 7px 18px 0 rgba(0, 0, 0, 0.2);
    /*width: 451px;*/
    height: 164px;
    z-index: 1;
    text-align: left;
}
#mycarousel .carousel-container h2 {
    font-family: Cuprum;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
#mycarousel .carousel-container p {
    padding-top: 10px;
    font-size: 14px;
    font-family: Roboto;
}
main #mycarousel .carousel {
    background-color: gray;
}
#mycarousel .carousel-inner {
    margin-top: -284px;
}
#mycarousel .carousel-inner>.item>img.carousel_image {
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    height: 490px;
    /*z-index: -1;*/
    object-fit: cover;
    background-color: rgba(17, 30, 51, 0.82);
}
#mycarousel .item {
    background: #333;
    text-align: center;
    height: auto;
}
#mycarousel .carousel {
    margin-top: 0;
}
#mycarousel .carousel-control {
    font-size: 24px;
    top: 40%;
    background-image: none;
    position: absolute;
    width: 0;
    color: black;
    text-align: center;
    text-shadow: none;
    background-color: white;
    filter: none;
    opacity: 1;
}
#mycarousel a.left{
    left: -5px;
    top: -3px;
}
#mycarousel a.right{
    left: 1px;
    top: 3px;
}
#mycarousel a.carousel-control span{
    transform: rotate(45deg);
    color: black;
    background-image: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}
#mycarousel a.carousel-control:hover span{
    color: white;
}
.carousel-container-triangle{
    position: absolute;
    transform: rotate(-45deg);
    background-color: white;
    box-shadow: none;
    width: 29px;
    height: 29px;
    top: 62px;
}
.carousel-container-triangle:hover{
    background-color: #43aa26;
}
.carousel-container-triangle span:hover{
    color: white;
}
#mycarousel .triangle-right{
    left: 473px;
}
#mycarousel .triangle-left{
    left: -15px;
}
.order-container {
    padding: 0;
    margin-top: 489px;
    background-color: white;
    float: left;
}
.angle {
    position: absolute;
    width: 68px;
    height: 68px;
    background-color: transparent;
    border: solid #43aa26;
    border-width: 6px 0 0 6px;
    margin: -3px 0 0 -3px;
}
.order-img {
    padding: 0;
    margin-top: -90px;
}
.order-txt>h2{
    text-align: center;
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 36px;
    font-weight: 700;
}
.order-steps-item {
    text-align: center;
    height: 208px;
    background-color: white;
    margin: 0 15px 0 15px;
}
.order-item-icon {
    height: 100px;
    margin: 20% 0 10% 0;
}
.order-item-text {
    height: 50px;
    font-family: Roboto;
    color:  #2f3031;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.order-steps-buttons{
    font-size: 24px;
    height: 0;
    margin-top: 5px;
    margin-left: -225px;
}
.order-steps-buttons a{
    color: lightgray;
}
.order-steps-buttons, .active a{
    color: #43aa26;
}
.video-container h2{
    margin-top: 30px;
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    padding: 0;
}
.video-gallery-wraper {
    padding: 0;
    overflow-x: scroll;
}
.video-gallery{
    text-align: left;
    width: 1610px;
}
.video-gallery-wraper::-webkit-scrollbar {
    width: 3px;
}
.video-gallery-wraper::-webkit-scrollbar-track {
    background-color: #2e6da4;
    height: 5px;
    border-radius: 1px;
}
.video-gallery-wraper::-webkit-scrollbar-thumb {
    background: #43aa26;
    border-radius: 1px;
}
.video-gallery-wraper::-webkit-scrollbar-thumb:hover {
    background: #43aa26;
}
.video-gallery-item{
    float: left;
    height: 100%;
    width: 372px;
    margin: 0 15px 0 15px;
}
.video-gallery-item-button{
    margin-left: -65px;
    text-align: center;
    top: 56%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #43aa26;
}
.video-gallery-item-button a{
    top: 50%;
    font-weight: bold;
    color: white;
    font-size: 30px;
}
.video-gallery-item-button a span{
    top: 16%;
}
.video-gallery-item-description{
    text-align: left;
    margin-left: 65px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}
.video-gallery-item-description p{
    padding-top: 10px;
    font-family: Roboto;
    color:  #2f3031;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.stock-container{
    background: #43aa26 url(../image/sell.png);
    height: 330px;
    margin-top: 60px;
    text-align: left;
}
.stock-container-description{
    padding: 0;
}
.stock-container-description h2{
    font-family: Cuprum;
    color:  #ffffff;
    font-size: 36px;
    font-weight: 700;
}
.stock-container-description>p{
    font-family: Roboto;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
}
.stock-container-description p a{
    text-decoration: underline;
    font-family: Roboto;
    color:  #fff600;
    font-size: 16px;
    font-weight: 700;
}
.countdown-item{
    width: 85px;
    height: 100px;
    float: left;
    margin-right: 20px;
    text-align: center;
    font-family: Roboto;
    color:  #2f3031;
    font-size: 14px;
    font-weight: 400;
    background-color:  #ffffff;
    box-shadow: -3px 5px 16px 0px rgba(0, 0, 0, 0.09);
}
.countdown-numbers{
    font-family: Cuprum;
    color:  #43aa26;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.stock-container-image{
    top: 20px;
    left: 55px;
}
.catalog-container-caption{
    text-align: center;
}
.catalog-container-caption h2{
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 36px;
    font-weight: 700;
}
.tabs{
    display:inline-block;
    text-align: center;
}
.tabs ul{
    margin-left: 19%;
}
.tabs ul:after{
    content:"";
    display:block;
    clear:both;
    background:#43aa26;
}
.tabs ul li{
    font-family: Roboto;
    color:  #2f3031;
    font-size: 16px;
    font-weight: 700;
    margin:1px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 25px;
    background: white;
}
.tabs ul li.active, .tabs ul li.active:hover{
    background:white;
    color: #43aa26;
    outline: 2px solid #43aa26;
}
.tabs ul li:hover{
    background:#d6d6d7;
}
.catalog-container-tabs{
    padding: 0;
}
.catalog-container-tabs .well{
    min-height: 20px;
    padding: 0px;
    margin-bottom: 20px;
     background-color: transparent;
     border: none;
     border-radius: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
}
.catalog-container-tabs img{
    padding: 10px 5px;
}
.catalog-container-tabs p{
    font-family: Roboto;
    color: #2f3031;
    font-size: 16px;
    font-weight: 700;
}
.catalog-container-tabs p span{
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 36px;
    font-weight: 700;
}
.catalog-tabs-item{
    float: left;
    width: 22%;
    padding: 0;
    background-color: white;
    margin: 15px;
    text-align: center;
}
.catalog-container-tabs .carousel-control{
    background-image: none;
    position: absolute;
    top: 47%;
    bottom: 47%;
    width: 1%;
    font-size: 24px;
    color: black;
    text-align: center;
    text-shadow: none;
    filter: none;
    opacity: 1;
}
.catalog-container-tabs a.left{
    left: -27px;
}
.catalog-container-tabs .carousel-control:hover{
    color: #43aa26;
}
.catalog-tabs-item-separartor{
    background-color: #43aa26;
    width: 59px;
    height: 3px;
    margin: 20px 40%;
}
.calculation-button{
    background-color: #43aa26;
    margin: 10% 15%;
}
.calculation-button a{
    text-decoration: none;
}
.calculation-button>a>p{
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 5px;
}
.calculation-button:hover p{
    background-color:  white;
    outline: 2px solid #43aa26;
    color: #43aa26;
}
hr{
    margin-top: 0;
    margin-bottom: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}
.popular-container {
    text-align: center;
}
.popular-container h2{
    margin-bottom: 20px;
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 36px;
    font-weight: 700;
}
.popular-container-description-text{
    text-align: left;
    padding: 0 10px;
}
.popular-container-description{
    background-color: white;
    padding: 30px;
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.05)
}
.popular-container-description-text h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Roboto;
    color:  #2f3031;
    font-size: 16px;
    font-weight: 700;
}
.popular-container-description-text p{
    font-family: Roboto;
    color:  #2f3031;
    font-size: 14px;
    font-weight: 400;
}
.popular-container-description-gallery{
    padding: 0;
}
.popular-container-action-delivery{
    display: inline-block;
    background-color: white;
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 180px;
    padding: 5% 30%;
    text-align: center;
}
.popular-container-action-information{
    padding: 1%;
    width: 65px;
    height: 65px;
    border: 5px solid #43aa26;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
}
.popular-container-action-information p{
    margin: -6px;
    font-family: Roboto;
    color:  #43aa26;
    font-size: 48px;
    font-weight: 700;
}
.popular-hover-wraper{
    width: 350px;
    /*height: 150px;*/
    position: absolute;
    padding: 15px 15px;
    top: 35px;
    left: -90px;
    z-index: 10;
    display: none;
    background-color: transparent;
}
.triangle{
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: white;
    top: 40px;
    left: 270px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}
.popular-hover-block{
    float: left;
    width: 265px;
    /*height: 115px;*/
    margin: 0;
    padding: 15px;
    list-style: none;
    background-color: white;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);
}
.popular-hover-block>p{
    font-family: Roboto;
    color:  #2f3031;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}
.popular-container-action-information:hover .popular-hover-wraper{
    display: block;
}
.popular-container-action-price{
    display: inline-block;
    background-color: white;
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 180px;
    margin-top: 22px;
    padding: 5% 30%;
}
.popular-container-action>div>p{
    margin: 0;
    font-family: Roboto;
    color: #2f3031;
    font-size: 16px;
    font-weight: 700;
}
.popular-container-action-price p span{
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 36px;
    font-weight: 700;
}
.popular-container-description-gallery .carousel-inner>.item>img{
    display: inline;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    position: static;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    margin: 0 !important;
    width: 75px;
    height: 59px;
}
#carousel-custom .carousel-indicators li img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
#carousel-custom .carousel-control{
    top: 110%;
    bottom: 47%;
    background-image: none;
    position: absolute;
    width: 1%;
    font-size: 20px;
    color: black;
    text-align: center;
    text-shadow: none;
    background-color: white;
    filter: none;
    opacity: 1;
}
#carousel-custom .carousel-control:hover{
    color: #43aa26;
}
#carousel-custom a span{
    margin: 0;
}
.map{
    margin-top: 40px;
    display: block;
}
.footer-navigation-menu{
    z-index: 21;
    padding: 0;
    text-align: center;
    width: 450px;
    position: absolute;
    background-color: white;
    display: inline-block;
    margin-top: -330px;
    left: 58%;
}
.footer-logo-box{
    display: inline-block;
    margin: 10px 0;
    padding: 0 5%;
}
.footer-logo-box h2{
    margin: 0;
    float: left;
    height: 2em;
    line-height: 2em;
    font-family: Roboto;
    color:  #4f555a;
    font-size: 26px;
    font-weight: 900;
    text-align: left;
}
.footer-logo-box img{
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 15px;
}
.footer-logo-box-menu-wraper{
    margin: 20px 20px;
}
.footer-menu{
    list-style: none;
    display: inline-block;
    padding: 0;
    text-align: left;
    margin: 0 20px;
}
.footer-menu a {
    text-align: left;
    padding: 0;
    text-decoration: none;
    color: black;
}
.footer-menu a:hover {
    color: #43aa26;
    border-bottom: 2px solid #43aa26;
    padding-bottom: 2px;
}
.footer-menu > li {
    position: relative;
    padding: 5px 0;
}
.footer-sub-menu li {
    margin: 0 20px;
    width: 150px;
    padding: 5px 0;
}
.footer-menu .footer-sub-menu {
    position: absolute;
    top: 17px;
    left: 90px;
    z-index: 10;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);
}
.footer-menu > li:hover .footer-sub-menu {
    display: block;
    color: black;
    background-color: white;
}
.footer-phone-box{
    margin: 10px;
    display: inline-block;
}
.footer-phone-box>p{
    margin: 5px;
    float: left;
    height: 1em;
    line-height: 1em;
    font-family: Cuprum;
    color:  #2f3031;
    font-size: 26px;
    font-weight: 400;
}
.footer-callback{
    margin-left: 10px;
    float: left;
}
